<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>DNA2Protein</title>
    </head>
    <body style="text-align:center">
        <h1>DNA2Protein</h1>
        <h3>Input a DNA Sequence!</h3>
            <form action="/" method="post">
                <input type="text" name="DNA" placeholder="DNA Sequence" autocomplete="off" size=50/>
                <button type="submit">Generate!</button>
            </form>
        <img alt="dogma" src="/static/dna2rna2protein.png" width="50%" height="50%">
    </body>
</html>
